@keyframes example {
  from {color:lightcoral}
  to {color:blanchedalmond;}
}

h1 {
  text-align: center;
  color:blanchedalmond;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  animation-name: example;
  animation-duration: 4s;
}

h3 {
  text-align: center;
  color:darkslategray;
  font-family:inherit;
}

h4 {
  color:lightblue;
  text-align: center;
}

body {
  background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX4765278.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-group {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color:lightsteelblue;
  text-align:justify;
}

.result {
  display: none;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align:left;

}

.swift , .javascript, .python, .ruby {
  display: none;
}

.card {
  padding: 2vw;
}